* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f5f2fc;
}

.me {
  height: 700px;
  font-size: 20px;
  font-family: 'Playfair display', sans-serif;
  margin-bottom: -30px;
}

.main {
  height: 100%;
  margin-top: 80px;
  margin-left: 30px;
  align-items: center;
}

h1 {
  font-size: 100px;
  margin-left: 43px;
  margin-bottom: 10px;
}

.about-me {
  margin-bottom: 20px;
}
.social-area {
  display: flex;
  justify-content: end;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: fixed;
  top: 200px;
}
p {
  margin-left: 43px;
  margin-top: 5px;
  font-size: 20px;
}

.about-me {
  display: flex;
  justify-content: column;
}

button {
  border: none;
  border-radius: 40px;
  font-size: 15px;
  margin-left: 40px;
  width: 200px;
  height: 50px;
  background-color: #f2e6fa;
  cursor: pointer;
}

button:hover {
  background-color: #e3dce8;
}

button:active {
  background-color: #dbd7de;
  color: black;
}

img {
  height: 400px;
  border-radius: 400px;
  position: relative;
  top: -200px;
  margin-right: 100px;
  cursor: pointer;
}

.yoona {
  width: 400px;
}

.image-overlay {
  position: relative;
  top: -405px;
  opacity: 0;
  transition: opacity 0.25s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-overlay:hover {
  opacity: 1;
}

.information {
  padding: 10px;
  margin-left: 30px;
  font-style: italic;
  margin-top: 20px;
}

.contact {
  background-color: #eee8fa;
  height: 150px;
  display: flex;
}

.phone {
  margin-left: 40px;
  position: relative;
  bottom: -40px;
}

.phone-number {
  display: flex;
  flex-direction: column;
}
.contact-me {
  position: relative;
  bottom: -50px;
  display: flex;
  flex-direction: column;
}

.email {
  margin-left: 80px;
  margin-top: 40px;
  display: flex;
}

.email-container {
  margin-left: 10px;
  position: relative;
  bottom: -5px;
  display: flex;
  flex-direction: column;
}

.ways-to-contact {
  margin-left: 70px;
  display: flex;
  justify-content: space-around;
  width: 3px;
  position: relative;
  bottom: -40px;
}

.click {
  position: relative;
  top: -3px;
}

.click-form {
  font-size: 15px;
  margin-top: 50px;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: black;
}

span {
  display: block;
}

#message {
  font-size: 20px;
  font-style: italic;
}

#new-message {
  font-size: 20px;
  font-style: italic;
}
